<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <h3> Pantry list</h3>
    <% if (pantry.length === 0) { %>
      <p>There are no items in this pantry.</p>
      <% }  else { %>
<% pantry.forEach((food) => { %>

  <p><%=food.name %></p>   <form action="/users/<%=user._id%>/foods/<%=food._id%>?_method=DELETE" 
    method="POST">
    <button type="submit">Delete <%= food.name %></button>
  </form>

  <a href="/users/<%=user._id%>/foods/<%=food._id%>/edit" >Edit <%=food.name%></a>


  <% }) } %>
  <br>
  <br>
    <a href="/users/<%=user._id%>/foods/new">Add a New Food</a>
  </body>
</html>
